@import '/src/styles/base';

.container {
  width: 652px;
  @include col;

  @include mobile {
    width: 100%;
    gap: 0px;
  }

  gap: 30px;
  margin-bottom: 40px;

  @include mobile {
    margin-bottom: 0;
  }
}

.content {
  font-family: Product Sans, sans-serif;
  margin-top: -10%;
  z-index: 1;
  @include themed-styles {
    color: themed-color(text-high-contrast);
  }
}

.image {
  position: absolute;
  z-index: 0;
  width: 100%;
  min-height: 100%;

  overflow: hidden;
  opacity: 0.2;
}
