@import '/src/styles/base';

.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex: 1;

  width: 80vw;
  max-width: 1000px;

  @include mobile {
    padding: 60px 15px;
    width: 100vw;
  }

  @media (max-width: 600px) {
    padding: 0 10px !important;
  }

  margin: 120px 0;
}

.content {
  font-family: Product Sans, sans-serif;
  margin-top: -10%;
  z-index: 1;
  @include themed-styles {
    color: themed-color(text-high-contrast);
  }
}

.image {
  position: absolute;
  z-index: 0;
  width: 100%;
  min-height: 100%;

  overflow: hidden;
  opacity: 0.2;
}
